# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Ignore .idea anywhere
.idea/

.vscode/

CLAUDE.md

# Explicitly ignore inside frontend and backend
frontend/.idea/
backend/.idea/

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (ignored by default)
.env*

# but keep the example file
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
